<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Game</title>
	<link href="static/css/game.css" rel="stylesheet">

	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/phaser.min.js"></script> 
</head>
 
<body>
    <script src="static/js/game.js"></script> 
</body>
 
</html>